<!-- templates/counter/overview.html -->
{% extends "base.html" %}
{% block content %}
<h2>JouleCounter</h2>

<div>
    <a class="btn btn-primary" role="button" href="{% url 'log_item' %}">Log Food Item</a>
    <a class="btn btn-primary" role="button" href="{% url 'daily_summary' 0 %}">Today’s Summary</a>
    <a class="btn btn-secondary" role="button" href="{% url 'daily_summary' 1 %}">Yesterday</a>
    <a class="btn btn-secondary" role="button"href="{% url 'add_template' %}">Add Food Template</a></li>
</div>
{% endblock %}
